body{
	background:#c0c0cc;
}
form{
	width:500px;
	padding:20px;
	margin:auto;
	background:#7a7cbb;
	font-size:20px;
}
input[type=text]{
	width:80%;
	padding:5px;
	font-size:17px;
}
textarea{
    background:#f2f2f2;
    width:500px;
    font-size:20px;
    margin:auto;
	resize:both;
}
input[type=submit]{
	padding:5px;
	font-size:18px;
}
textarea{
	background:#f2f2f2;
	width:500px;
	font-size:20px;
	margin:auto;
}