html
{
background-color: OrangeRed;
}
.box
{
text-align: center;
font-size: 50;
}

.box1
{
text-align: center;
font-size: 50;
}

.box2
{
text-align: center;
font-size: 50;
}

.box3
{
text-align: center;
font-size: 50;
}

.box4
{
text-align: center;
font-size: 50;
}

.box5
{
text-align: center;
font-size: 50;
text-decoration: none;
}
